<div class="offer-wrapper">
  <particles [params]="offerParticleParams" [style]="offerParticleStyle"></particles>
  <section class="offer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h3 class="font-weight-bold offer-title">What We Offer</h3>
        </div>
        <div class="col-12">
          <div class="services">
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/development.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">Software Development</h5>
                <p class="offer-info">Create complex enterprise software, ensure reliable software integration.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/mobile.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">Mobile Development</h5>
                <p class="offer-info">Create an impactful mobile app that fits your brand and industry.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/consulting.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">IT Consulting</h5>
                <p class="offer-info">Trust our top minds to eliminate workflow pain points.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/design.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">UI / UX Design</h5>
                <p class="offer-info">Build with an experienced team that uses a clear and effective design process.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/testing.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">QA & Testing</h5>
                <p class="offer-info">Turn to our experts to perform comprehensive, multi-stage testing.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
            <div class="item">
              <div class="offerSvg">
                <svg-icon src="../../../assets/offer/integration.svg" [svgStyle]="svgOfferStyle"></svg-icon>
              </div>
              <div class="offer-text">
                <h5 class="card-text">Integration & Migration</h5>
                <p class="offer-info">Trust our experts to perform the integrations and migrations.</p>
              </div>
              <div class="plusSvg">
                <svg-icon src="../../../assets/offer/plus.svg" [svgStyle]="svgPlusStyle"></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
