.intro {
  padding: 140px 0 60px 0;
  background-color: #f44336;

  &::after {
    position: relative;
    bottom: -66px;
    display: block;
    height: 155px;
    content: "";
    background: url('../../../assets/overlay-intro.png') bottom no-repeat;
    background-size: cover;
  }
}

.intro-text {
  color: white;
}

.intro-title {
  margin-bottom: 16px;
  text-shadow: 0 4px 4px rgba(0,0,0,.22);
}

.intro-info {
  margin-bottom: 30px;
  font-size: 20px;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.sign-button {
  padding: 8px 48px;
  transition: all .5s ease-in 0s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
  transition-duration: .5s;
  transition-property: all;
  color: #fff;
  border-radius: 3px 15px;
}

.signIn-button {
  border-color: #fff;
  background-color: transparent;
  background-image: none;

  &:hover {
    color: #333;
    background-color: #fff;
  }
}

.signUp-button {
  background-color:rgba(20, 118, 242, 0.8);
}
