<section class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h3 class="font-weight-bold">Your Benefits</h3>
        <p class="benefits-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam
          laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>
      </div>
      <div class="col-12">
        <div class="benefits-wrapper" [ngsRevealSet]="scrollRevealBenefitsConfig" [ngsSelector]="'.card'">
          <div class="card">
            <div class="card-body">
              <div class="benefitsSvg">
                <svg-icon src="../../../assets/benefits/clock.svg" [svgStyle]="svgBenefitsStyle"></svg-icon>
              </div>
              <div class="benefits-text">
                <h4 class="card-text">Availability</h4>
                <p class="benefits-info">Around the clock IT expertise availability.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="benefitsSvg">
                <svg-icon src="../../../assets/benefits/support.svg" [svgStyle]="svgBenefitsStyle"></svg-icon>
              </div>
              <div class="benefits-text">
                <h4 class="card-text">Support</h4>
                <p class="benefits-info">Unmatched customer support.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="benefitsSvg">
                <svg-icon src="../../../assets/benefits/release.svg" [svgStyle]="svgBenefitsStyle"></svg-icon>
              </div>
              <div class="benefits-text">
                <h4 class="card-text">Reliability</h4>
                <p class="benefits-info">Improved reliability and productivity.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="benefitsSvg">
                <svg-icon src="../../../assets/benefits/research.svg" [svgStyle]="svgBenefitsStyle"></svg-icon>
              </div>
              <div class="benefits-text">
                <h4 class="card-text">Visibility</h4>
                <p class="benefits-info">Improved visibility and monitoring of IT operations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
